[Unit]
Description=Pico Irrigator Frontend Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pico_irrigator/frontend
Environment=NODE_ENV=production
Environment=PORT=3000
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target 